/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .container {
        width: 100%;
        background: red;
    }
    #name {
        width: 26%;
        padding: 4vw;
    }
    h2 {
        text-align: center;
    }
    .work {
        width: 100%;
    }
    .auth-image {
        width: 100%;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    .container {
        width: 100%;
        background: blue;
    }
    #name {
        width: 26%;
        padding: 3.5vw;
    }
    h2 {
        text-align: center;
    }
    .work {
        width: 100%;
    }
    .auth-image {
        width: 100%;
    }


} 

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 90%;
        background: yellow;
    }
    #name {
        width: 26%;
        padding: 3vw;
    }
    h2 {
        text-align: left;
    }
    .work {
        position: relative;
        float: left;
        margin: 20px 0 25px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width:90%;
        background: green;
        max-width: 960px;
    }
    #name {
        width: 26%;
        padding: 2.5vw;
    }
    .work {
        position: relative;
        float: left;
        margin: 20px 0 25px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width:90%;
        background: orange;
        max-width: 960px;
    }
    #name {
        width: 26%;
        padding: 1.8vw;
    }
    .work {
        position: relative;
        float: left;
        margin: 20px 0 25px;
    }
}